.contact {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 200px 0 100px;
  align-items: center;
}

.contact__container {
  border: 1px solid goldenrod;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 20px;
}

.contact__container > p {
  font-size: 20px;
  text-align: left;
  padding-bottom: 20px;
}

.contact__container > p > span,
.contact__container > p > span > a {
  color: goldenrod;
}

.contact__icons > a > button > span > .MuiSvgIcon-root {
  fill: white !important;
  font-size: 30px;
}
